@font-face {
    font-family: "SVN-Avo";
    src: url("../fonts/SVN-Avo.ttf");
}

@font-face {
    font-family: "Gastie";
    src: url("../fonts/FC-Gastie.otf");
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes tada {
    0% {
        transform: scaleZ(1);
    }

    10%,
    20% {
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }

    20%,
    50%,
    70%,
    90% {
        transform: scale3d(1.06, 1.06, 1.06) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        transform: scale3d(1.06, 1.06, 1.06) rotate3d(0, 0, 1, -3deg);
    }

    100% {
        transform: scaleZ(1);
    }
}

@keyframes slideDownFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes lightSweep {
    0% {
        -webkit-mask-position: 150% 0;
        mask-position: 150% 0;
    }

    100% {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}

@keyframes lightBlink {
    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(1.2);
    }

    100% {
        filter: brightness(1);
    }
}

@keyframes zoomBtn {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.11);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes dotPulseRed {
    0% {
        box-shadow: 0 0 0 0 #fb2424;
    }

    70% {
        box-shadow: 0 0 0 20px rgba(255, 158, 66, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 158, 66, 0);
    }
}

@keyframes letterBounce {

    0%,
    16%,
    100% {
        transform: translateY(0);
    }

    8% {
        transform: translateY(-15px);
    }
}

@keyframes upDown {

    0%,
    100% {
        transform: translateY(4%);
    }

    50% {
        transform: translateY(1%);
    }
}

.animation-upDown {
    animation: 2.5s ease-in-out infinite upDown;
}

.btn-zoom {
    animation: zoomBtn .6s ease-in-out infinite;
}

.lightSweep {
    position: absolute;
    animation: lightSweep 3s linear 1s infinite;
    inset: 0;
    filter: brightness(2);
    margin: auto;
    -webkit-mask-image: -webkit-linear-gradient(-45deg, #fff0 40%, #fff 50%, #fff0 60%);
    mask-image: -webkit-linear-gradient(-45deg, #fff0 40%, #fff 50%, #fff0 60%);
    -webkit-mask-size: 300% 200%;
    mask-size: 300% 200%;
    z-index: 1;
    overflow: hidden;
}

.animation-tada {
    animation: tada 1.5s infinite linear;
    filter: grayscale(0) !important;
}

* {
    box-sizing: border-box;
    font-family: "SVN-Avo";
}

body,
ul,
li,
p {
    margin: 0;
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.gz-justify-between {
    justify-content: space-between;
}

.gz-justify-center {
    justify-content: center;
}

.z-1 {
    z-index: 1;
}

.relative {
    position: relative;
}

img {
    vertical-align: middle;
    border-style: none;
    height: 100%;
}

img.desk,
img.default {
    display: block;
    width: 100%;
}

img.mobi,
img.active {
    display: none;
    width: 100%;
}

@media (max-width: 767px) {
    img.desk {
        display: none;
    }

    img.mobi {
        display: block;
    }
}

.btn {
    cursor: pointer;
}

.btn img {
    width: 100%;
}

.btn-brightness {
    cursor: pointer;
}

.btn-brightness img {
    width: 100%;
    transition: .3s;
}

.btn-brightness:hover img {
    filter: brightness(125%);
}

.btn:hover img.default,
.btn.active img.default {
    display: none;
}

.btn:hover img.active,
.btn.active img.active {
    display: block;
}

.transform-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.invisible {
    visibility: hidden;
    font-size: 1vw;
}

.d-none {
    display: none;
}

.gz-text-main {
    color: #416A6D;
}

.gz-text-white {
    color: #fff;
}

.w-full {
    width: 100%;
}

.gz-pointer {
    cursor: pointer;
}

.gz-AndroidOS {
    width: 76% !important;
}

.gz-brightness-125 {
    filter: brightness(125%);
}

.gz-direction-none {
    flex-direction: unset !important;
}

/* LOADING */

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3771e0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#loading.hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

#loading {
    opacity: 1;
    transition: opacity 0.5s ease;
}

#loading .spinner {
    animation: spin 1s linear infinite;
    position: relative;
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top-color: #fff;
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

#loading img.logo {
    height: 30px !important;
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* LOADER */

.load-api {
    display: none;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 1000000;
    background-color: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(4px);
}

.load-api .element {
    border-radius: 100%;
    border: 5px solid #FFF;
    margin: 10px;
}

.load-api .element:nth-child(1) {
    animation: preloader 0.6s ease-in-out alternate infinite;
}

.load-api .element:nth-child(2) {
    animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}

.load-api .element:nth-child(3) {
    animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}

@keyframes preloader {
    100% {
        transform: scale(2);
    }
}

header .main-header {
    position: absolute;
    top: unset;
    width: 100%;
    z-index: 3;
}

header .desk {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44%;
    margin: auto;
    gap: 4vw;
    margin-top: 1vw;
}

header .desk img {
    width: 100%;
    transition: .3s ease-out;
    cursor: pointer;
}

header .desk a:hover img {
    transform: scale(1.10);
}

header .mobi {
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 1.5vw;
    padding-inline: 2vw;
    padding-block: 0.6vw;
    background-color: #281115;
}

@media (max-width: 767px) {
    header .main-header {
        position: fixed;
    }

    header .desk {
        display: none;
    }

    header .mobi {
        display: flex;
    }
}

header .mobi .logo {
    display: flex;
    align-items: center;
    gap: 2vw;
    line-height: 4vw;
}

header .mobi .logo img {
    height: 13.4vw !important
}

header .mobi .logo p {
    color: #EADCB5;
    font-size: 2.6vw;
    white-space: nowrap;
    font-weight: 600;
}

header .mobi .main-content {
    display: flex;
    align-items: center;
    gap: 3vw;
    justify-content: flex-end;
}

header .mobi .main-content .link_dowload {
    display: flex;
    align-items: center;
    gap: 3vw;
    width: 46%;
}

header #menu_mobile {
    opacity: 0;
    transition: 0.5s ease-in-out;
    transform: translateX(26vw);
    background-color: #000;
    padding-block: 1.6vw;
    padding-inline: 3vw;
    position: fixed;
    right: 0.5vw;
    margin-top: 0.5vw;
    z-index: 4;
    border-radius: 2vw;
    color: #fff;
    display: none;
}

header #menu_mobile.active {
    transform: translateX(0);
    opacity: 1;
    transition: 0.5s ease-in-out;
}

header #menu_mobile a img {
    width: 100%;
}

header #menu_mobile a {
    font-weight: 700;
    text-decoration: none;
    font-size: 3.6vw;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    gap: 1.4vw;
    border-bottom: 1px solid #fff;
    padding-block: 1.8vw;
}

header #menu_mobile a:last-child {
    border-bottom: none !important;
}

header #menu_mobile a span {
    width: 14%;
    margin-left: 1vw;
}

@media (max-width: 767px) {
    header #menu_mobile {
        display: block;
    }

    header .mobi .main-content .link_dowload {
        width: 40%;
    }
}

#btn-menu_mobile {
    cursor: pointer;
    z-index: 1;
}

#btn-menu_mobile.active {
    position: relative;
    top: 0vw;
    width: 8vw;
    height: 8vw;
}

#btn-menu_mobile .item_menu {
    background-color: #EADCB5;
    width: 8vw;
    height: 1.2vw;
    margin: 1vw 0vw;
    border-radius: 15px;
}

#btn-menu_mobile.active .top {
    position: absolute;
    top: 26%;
    transform: rotate(45deg);
    transition: 0.5s ease-in-out;
}

#btn-menu_mobile.active .center {
    display: none;
}

#btn-menu_mobile.active .bottom {
    position: absolute;
    top: 26%;
    transform: rotate(134deg);
    transition: 0.5s ease-in-out;
}

/* TAB 1 */

.tab1,
.tab2,
.tab3,
.tab4,
.tab5,
.tab6,
.tab7 {
    position: relative;
    overflow: hidden;
}

.tab1 {
    display: flex;
    justify-content: center;
}

.tab1 .background {
    width: 100%;
}

.tab1 .nav-top {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3
}

.tab1 .nav-top .nav-top_item {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}

.tab1 .nav-top .logo-text {
    width: 9%;
    position: relative;
}

.tab1 .nav-top a {
    color: #fff;
    font-size: 1vw;
    text-transform: capitalize;
    cursor: pointer;
}

.tab1 .warning {
    position: fixed;
    top: 22%;
    left: 0;
    width: 11%;
    z-index: 3;
}

.tab1 .text-slogan {
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%, -50%);
    width: 30%;
    z-index: 1;
}

.tab1 .list-text {
    position: absolute;
    top: 54%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    gap: 0.4vw;
    z-index: 2;
}

.tab1 .list-text .item {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab1 .list-text .item span {
    color: #E7D28B;
    font-size: 1.2vw;
    text-transform: uppercase;
    position: absolute;
    line-height: 1vw;
}

.tab1 .btn-dkt {
    position: absolute;
    bottom: 21%;
    width: 16%;
    z-index: 2;
}

.tab1 .item-gift {
    position: fixed;
    bottom: 2%;
    width: 10%;
    left: 1%;
    z-index: 3;
}

.tab1 .list-nv img {
    width: 100%;
}

.tab1 .list-nv .item-nv {
    position: absolute;
}

.tab1 .list-nv .nv-1 {
    width: 50%;
    bottom: -105%;
    left: -3.6%;
    z-index: 2;
}

.tab1 .list-nv .nv-2 {
    width: 49%;
    bottom: -93.6%;
    left: 9.8%;
    z-index: 1;
}

.tab1 .list-nv .nv-3 {
    width: 36%;
    bottom: -66.4%;
    right: 10.2%;
    z-index: 1;
}

.tab1 .list-nv .nv-4 {
    width: 28%;
    bottom: -47.2%;
    right: 9.8%;
}

@media (max-width: 767px) {
    .tab1 .nav-top {
        display: none;
    }

    .tab1 .warning {
        top: 20%;
        width: 13%;
    }

    .tab1 .text-slogan {
        width: 88%;
        top: 38%;
    }

    .tab1 .list-text {
        top: 54%;
        width: 75%;
        gap: 1vw;
    }

    .tab1 .list-text .item span {
        font-size: 3.4vw;
        line-height: 2vw;
    }

    .tab1 .btn-dkt {
        bottom: 21%;
        width: 47%;
    }

    .tab1 .item-gift {
        bottom: 1%;
        width: 23%;
        left: 2%;
    }

}

/* TAB 2 */
.tab2 {
    display: flex;
    justify-content: center;
}

.tab2 .background {
    width: 100%;
}

.tab2 .title {
    position: absolute;
    top: 2%;
    width: 33%;
}

.tab2 .frame-login {
    position: absolute;
    top: 14%;
    right: 16%;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab2 .frame-login img {
    width: 100%;
}

.tab2 .frame-login .frame-login_content {
    position: absolute;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4vw;
}

.tab2 .frame-login .frame-login_content .list-input {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2vw;
}

.tab2 .frame-login .frame-login_content .list-input .item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tab2 .frame-login .frame-login_content .list-input .item input {
    position: absolute;
    color: #CCCCCC;
    font-size: 1.4vw;
    border: none;
    outline: none;
    background-color: transparent;
    width: 50%;
}

.tab2 .frame-login .frame-login_content .list-input .item input:focus {
    border: none;
    outline: none;
}

.tab2 .frame-login .frame-login_content .privacy {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.tab2 .frame-login .frame-login_content .privacy input {
    width: 6%;
    margin-bottom: 0;
    margin-right: 0.4vw;
    cursor: pointer;
    height: 1vw;
}

.tab2 .frame-login .frame-login_content .privacy label {
    font-size: 0.8vw;
    color: #fff;
    cursor: pointer;
}

.tab2 .frame-login .frame-login_content .btn-dkt {
    width: 56%;
}

@media (max-width: 767px) {
    .tab2 .title {
        width: 98%;
    }

    .tab2 .frame-login {
        top: 14%;
        right: unset;
        width: 95%;
    }

    .tab2 .frame-login .frame-login_content {
        gap: 4.4vw;
    }

    .tab2 .frame-login .frame-login_content .list-input {
        gap: 3.2vw;
    }

    .tab2 .frame-login .frame-login_content .list-input .item input {
        font-size: 4vw;
    }

    .tab2 .frame-login .frame-login_content .privacy label {
        font-size: 2.6vw;
    }

    .tab2 .frame-login .frame-login_content .privacy input {
        width: 8%;
        height: 3vw;
    }
}

/* TAB 3 */
.tab3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab3 .background {
    width: 100%;
}

.tab3 .title {
    position: absolute;
    top: 2%;
    width: 41%;
}

.tab3 #count_register {
    position: absolute;
    color: #EADCB5;
    font-size: 2.4vw;
    width: 100%;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Gastie';
    top: 19%;
    text-shadow:
        1px 1px #000,
        -1px -1px #000,
        1px -1px #000,
        -1px 1px #000;
}

.tab3 .main-content img {
    width: 100%;
}

.tab3 .main-content {
    position: absolute;
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 40%;
    gap: 4vw;
}

.tab3 .main-content .milestone-layout {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.tab3 .main-content .milestone-layout .milestone-nav {
    width: 84%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab3 .main-content .milestone-layout .milestone-nav .milestone-nav_img {
    width: 100%
}

.tab3 .main-content .milestone-layout .milestone-nav .milestone-nav_active {
    position: absolute;
    width: 0;
    background-color: #E7D28B;
    height: 90%;
    left: 0;
    border-radius: 0.8vw;
}

.tab3 .main-content .milestone-layout .milestone-item {
    position: absolute;
    width: 84%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab3 .main-content .milestone-layout .milestone-item .item {
    width: 10%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab3 .main-content .milestone-layout .milestone-item .item span {
    color: #EADCB5;
    font-size: 1.6vw;
    position: absolute;
    top: -60%;
    font-family: 'Gastie';
    text-shadow:
        1px 1px #000,
        -1px -1px #000,
        1px -1px #000,
        -1px 1px #000;
}

.tab3 .main-content .milestone-gift {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 11vw;
}

.tab3 .main-content .milestone-gift .item {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
}

.tab3 .main-content .milestone-gift .item .item-img {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tab3 .main-content .milestone-gift .item .item-img span {
    position: absolute;
    color: #EADCB5;
    font-size: 1.6vw;
    text-transform: capitalize;
    bottom: 10%;
    font-family: 'Gastie';
}

.tab3 .main-content .milestone-gift .item .item-btn {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(1);
    pointer-events: none;
}

.tab3 .main-content .milestone-gift .item .item-btn.active {
    filter: grayscale(0);
    pointer-events: unset;
}

.tab3 .main-content .milestone-gift .item .item-btn span {
    position: absolute;
    color: #000;
    font-size: 1.4vw;
    text-transform: capitalize;
    font-family: 'Gastie';
}

@media (max-width: 767px) {
    .tab3 .title {
        width: 123%;
    }

    .tab3 #count_register {
        font-size: 4.8vw;
        top: 24%;
    }

    .tab3 .main-content {
        width: 98%;
        top: 44%;
        gap: 12vw;
    }

    .tab3 .main-content .milestone-layout .milestone-nav {
        width: 68%;
    }

    .tab3 .main-content .milestone-layout .milestone-nav .milestone-nav_active {
        border-radius: 1.8vw;
    }

    .tab3 .main-content .milestone-layout .milestone-item {
        width: 82%;
    }

    .tab3 .main-content .milestone-layout .milestone-item .item {
        width: 18%;
    }

    .tab3 .main-content .milestone-layout .milestone-item .item span {
        font-size: 4.2vw;
        top: -78%;
    }

    .tab3 .main-content .milestone-gift {
        gap: 1vw;
    }

    .tab3 .main-content .milestone-gift .item .item-img span {
        font-size: 3.6vw;
    }

    .tab3 .main-content .milestone-gift .item {
        gap: 2vw;
    }

    .tab3 .main-content .milestone-gift .item .item-btn span {
        font-size: 3.2vw;
    }
}

/* TAB 4 */
.tab4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab4 .background {
    width: 100%;
}

.tab4 .title {
    position: absolute;
    top: 3%;
    width: 42%;
}

.tab4 .list-news {
    position: absolute;
    top: 24%;
    width: 66%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 0.4vw;
    row-gap: 1vw;
}

.tab4 .list-news img {
    width: 100%;
}

.tab4 .list-news .item {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab4 .list-news .item p.item-title {
    position: absolute;
    width: 100%;
    bottom: 30%;
    text-align: center;
    text-transform: capitalize;
    color: #EADCB5;
    font-size: 1.2vw;
    font-family: 'Gastie';
}

.tab4 .list-news .item .btn-brightness {
    position: absolute;
    width: 52%;
    bottom: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab4 .list-news .item .btn-brightness span {
    position: absolute;
    color: #000;
    font-size: 1.2vw;
    text-transform: capitalize;
    font-family: 'Gastie';
}

@media (max-width: 767px) {
    .tab4 .title {
        width: 123%;
    }

    .tab4 .list-news {
        top: 17%;
        width: 96%;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 0.4vw;
        row-gap: 4vw;
    }

    .tab4 .list-news .item p.item-title {
        font-size: 2.6vw;
    }

    .tab4 .list-news .item .btn-brightness span {
        font-size: 2.4vw;
    }
}

/* TAB 5 */
.tab5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab5 .background {
    width: 100%;
}

.tab5 .title {
    position: absolute;
    top: 3%;
    width: 32%;
}

.tab5 .list-news {
    position: absolute;
    top: 27%;
    width: 66%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 0.4vw;
    row-gap: 2vw;
}

.tab5 .list-news img {
    width: 100%;
}

.tab5 .list-news .item {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab5 .list-news .item p.item-title {
    position: absolute;
    width: 100%;
    top: 6%;
    left: 8%;
    text-align: left;
    text-transform: capitalize;
    color: #EADCB5;
    font-size: 1.2vw;
    font-family: 'Gastie';
}

.tab5 .list-news .item .list-action {
    width: 50%;
    position: absolute;
    right: 6%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    gap: 1vw;
}

.tab5 .list-news .item .list-action .action-text {
    width: 80%;
}

.tab5 .list-news .item .list-action .btn-brightness {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tab5 .list-news .item .list-action .btn-brightness span {
    position: absolute;
    color: #000;
    font-size: 1.2vw;
    text-transform: capitalize;
    font-family: 'Gastie';
}

@media (max-width: 767px) {
    .tab5 .title {
        width: 96%;
    }

    .tab5 .list-news {
        top: 24%;
        width: 98%;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 2.4vw;
        row-gap: 7vw;
    }

    .tab5 .list-news .item p.item-title {
        font-size: 2.8vw;
    }

    .tab5 .list-news .item .list-action {
        gap: 2.2vw;
    }

    .tab5 .list-news .item .list-action .btn-brightness span {
        font-size: 2.4vw;
    }
}

/* TAB 6 */
.tab6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab6 .background {
    width: 100%;
}

.tab6 .title {
    position: absolute;
    top: 3%;
    width: 37%;
}

.tab6 .list-news {
    position: absolute;
    top: 24%;
    width: 66%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 0.4vw;
    row-gap: 1vw;
}

.tab6 .list-news img {
    width: 100%;
}

.tab6 .list-news .item {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab6 .list-news .item p.item-title {
    position: absolute;
    width: 100%;
    bottom: 30%;
    text-align: center;
    text-transform: capitalize;
    color: #EADCB5;
    font-size: 1.2vw;
    font-family: 'Gastie';
}

.tab6 .list-news .item .btn-brightness {
    position: absolute;
    width: 52%;
    bottom: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab6 .list-news .item .btn-brightness span {
    position: absolute;
    color: #000;
    font-size: 1.2vw;
    text-transform: capitalize;
    font-family: 'Gastie';
}

@media (max-width: 767px) {
    .tab6 .title {
        width: 110%;
    }

    .tab6 .list-news {
        top: 17%;
        width: 96%;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 0.4vw;
        row-gap: 4vw;
    }

    .tab6 .list-news .item p.item-title {
        font-size: 2.6vw;
    }

    .tab6 .list-news .item .btn-brightness span {
        font-size: 2.4vw;
    }
}

/* TAB 7 */
.tab7 {
    display: flex;
    justify-content: center;
}

.tab7 .background {
    width: 100%;
}

.tab7 .text-slogan {
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%, -50%);
    width: 30%;
    z-index: 2;
}

.tab7 .list-text {
    position: absolute;
    top: 54%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    gap: 0.4vw;
}

.tab7 .list-text .item {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab7 .list-text .item span {
    color: #E7D28B;
    font-size: 1.2vw;
    text-transform: uppercase;
    position: absolute;
    line-height: 1vw;
}

.tab7 .btn-dkt {
    position: absolute;
    bottom: 21%;
    width: 16%;
}

@media (max-width: 767px) {
    .tab7 .text-slogan {
        width: 88%;
        top: 38%;
    }

    .tab7 .list-text {
        top: 54%;
        width: 75%;
        gap: 1vw;
    }

    .tab7 .list-text .item span {
        font-size: 3.4vw;
        line-height: 2vw;
    }

    .tab7 .btn-dkt {
        bottom: 21%;
        width: 47%;
    }
}

/* FOOTER */

footer {
    position: relative;
    overflow-x: hidden;
}

footer .content {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding-block: 1.6vw;
}

footer .content .logo {
    align-items: center;
    justify-content: center;
    gap: 8vw;
    width: 100%;
    text-align: right;
}

footer .content .logo img.logo-gzone {
    width: 20% !important;
}

footer .content .logo img.footer-warning {
    display: none;
}

footer .content .logo a {
    width: 30% !important;
    display: none;
}

footer .content .main-content {
    font-size: 0.8vw;
    text-align: center;
    width: 100%;
}

footer .content .main-content a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    outline: none;
}

footer .content .main-content p {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.2vw;
}

footer .content .warning {
    display: flex;
    align-items: center;
    width: 100%;
}

footer .content .warning img.img-warning {
    width: 8%;
}

footer .content .warning a {
    width: 18%;
}

@media (max-width: 767px) {

    footer .content {
        display: block;
        padding-inline: 2vw;
        padding-top: 6vw;
        padding-bottom: 6vw;
    }

    footer .content .logo {
        display: flex;
        margin-bottom: 4vw !important;
        margin-left: 4vw;
    }

    footer .content .logo img.footer-warning {
        display: block;
        width: 10%;
    }

    footer .content .logo a {
        display: block;
    }

    footer .content .main-content {
        width: 100%
    }

    footer .content .main-content a,
    footer .content .main-content p {
        font-size: 3vw;
        line-height: 4.6vw;
    }

    footer .content .warning {
        display: none;
    }
}

/* POPUP */

#backdrop {
    background-color: rgb(0 0 0 / 72%);
    backdrop-filter: blur(3px);
    position: fixed;
    inset: 0;
    z-index: 13;
}

#backdrop.active {
    background-color: rgb(0 0 0 / 89%);
}

#popup {
    transition: 0.3s ease-in-out;
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: -9;
    width: 100%;
}

#popup.active {
    opacity: 1 !important;
    z-index: 15 !important;
}

#popup .main-popup {
    position: relative;
    z-index: 13;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#popup .item-popup {
    position: relative;
    opacity: 0;
    display: flex;
    transform: scale(0);
    transition: 0.45s ease-in-out;
    position: absolute;
    width: 50%;
}

#popup .item-popup.active {
    opacity: 1;
    justify-content: center;
    transition: 0.5s ease-in-out;
    transform: scale(1.05);
}

#popup .bg-popup {
    width: 100%;
}

#popup .btn-close {
    position: absolute;
    top: 2.8%;
    right: 1.6%;
    z-index: 2;
    cursor: pointer;
    width: 5%;
}

#popup .btn-close img {
    transition: .2s ease-out;
    width: 100%;
}

#popup .btn-close:hover img {
    transform: scale(1.1);
}

#popup .main-content {
    position: absolute;
    top: 3%;
    bottom: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#popup .main-content .content-popup {
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#popup-warning .main-content .content-popup {
    gap: 2vw;
}

#popup-warning .content-popup .icon-warning {
    width: 12%;
}

#popup-warning .content-popup p.text-warning {
    color: #E7D28B;
    font-size: 1.4vw;
    text-transform: uppercase;
    font-family: 'Gastie';
    text-align: center;
}

#popup-warning .content-popup p.text-info {
    color: #fff;
    font-size: 0.9vw;
    font-family: 'Gastie';
    text-align: center;
}

#popup-warning .content-popup .list-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 1vw;
}

#popup-warning .content-popup .list-btn .btn-brightness {
    width: max-content;
}

@media (max-width: 767px) {

    #popup .main-popup {
        position: relative;
        z-index: 13;
        width: 88%;
    }

    #popup .main-content {
        top: 0%;
    }

    #popup .btn-close {
        top: 3.8%;
        right: 2.6%;
        width: 6.2%;
    }

    #popup .item-popup {
        width: 100%;
    }

    #popup-warning .main-content .content-popup {
        gap: 3vw;
    }

    #popup-warning .content-popup p.text-warning {
        font-size: 3vw;
    }

    #popup-warning .content-popup p.text-info {
        font-size: 1.8vw;
    }

    #popup-warning .content-popup .list-btn {
        width: 70%;
        gap: 2vw;
    }
}